.dates-wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dates-wrapper > div {
    width: 100%;
}

.dates-top {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dates-bottom {
    padding: 2.5em .5em .5em .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.dates-grid-wrapper {
    --width: 800px;
    position: relative;
    max-width: var(--width);
    width: 100%;
    aspect-ratio: 1 / 1;
}

.final-art-wrapper {
    width: 100%; 
    height: 100%;
    background-image: url(../../IMGs/final-art.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.dates-grid {
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.dates-grid > div {
    position: relative;
}

.calendar-day {
    background-color: var(--white);
    border: 1px dashed var(--yellow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform-origin: left 50%;
}

.sparkles-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.sparkles-wrapper > img {
    --sparkSize: 15px;
    --halfSize: calc(var(var(--sparkSize)) / 2);
    width: var(--sparkSize);
    position: absolute;
    top: calc(50% - var(--halfSize));
    left: calc(50% - var(--halfSize));
}