.popup-outer-wrapper {
    width: 100dvw;
    height: 85dvh;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* * Shared CSS between memory and countdown popups */

.memory-popup-wrapper {
    --size: 320px;
}
.countdown-popup-wrapper {
    --size: 420px;
}

.memory-popup-wrapper, .countdown-popup-wrapper {
    position: fixed;
    max-width:var(--size);
    width: 96%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.memory-number-wrapper {
    --num-size: 90px;
    margin: 0 0 -50px 0;
}
.countdown-number-wrapper {
    --num-size: 150px;
    margin: 0 0 -80px 0;
}
.memory-number-wrapper, .countdown-number-wrapper {
    background-color: var(--white);
    width: var(--num-size);
    aspect-ratio: 1 / 1;
    border-radius: 1000em;
    padding: .8em;
    filter: drop-shadow(0 2px 4.54px rgba(0, 0, 0, 0.25));
}

.memory-number-wrapper > img, .countdown-number-wrapper > img {
    width: 100%;   
}

.memory-content-wrapper {
    padding: 0 0 30px 0;
    overflow: hidden;
}
.countdown-content-wrapper {
    padding: 100px 10px 50px 10px;
}
.memory-content-wrapper, .countdown-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
}

/* ? Display memory sections */

.memory-photo {
    width: 100%;
    height: 50dvh;
    background-size: cover;
    background-position: center;
}

.memory-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 0;
     overflow-wrap: break-word;
    word-break: break-word;    
    white-space: normal;
    font-size: .9rem
}

/* & Countdown sections */

.cd-content-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5px;
}

.cd-content-2 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coundtdown-style {
    font-weight: 700;
    color: var(--red);
    font-size: 2.4em;
}