* {
  box-sizing: border-box!important;
}


.default-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-weight: 700;
}

.App {
  --white: #F3EFE9;
  --yellow: #DEAC23;
  --green: #51733C;
  --pink: #DA3D5B;
  --red: #BF2E39;
  --dark-green: #172601;
  background-color: var(--white);
  width: 100%;
  min-height: 100dvh;
  position: relative;
}

.black-backdrop {
  width: 100vw;
  height: 100dvh;
  background-color: #000000;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}


/* & MOBILE */
@media screen and (max-width: 500px) {}